[Unit]
Description=Emacs: the extensible, self-documenting text editor

[Service]
Type=forking
ExecStart=/usr/bin/emacs --daemon
ExecStop=/usr/bin/emacsclient --eval "(kill-emacs)"
Restart=on-failure
PassEnvironment=WAYLAND_DISPLAY DISPLAY XAUTHORITY

[Install]
WantedBy=default.target

