Language: Cpp
BasedOnStyle: Google
IndentWidth: 2
BreakBeforeBraces: Allman
TabWidth: 2
UseTab: Never
ColumnLimit: 0
#AlignConsecutiveAssignments: AcrossEmptyLinesAndComments
#AlignConsecutiveDeclarations: AcrossEmptyLinesAndComments
#AlignOperands: AlignAfterOperator;
#AlignTrailingComments: true
#BinPackArguments: false
#BinPackParameters: false
#PointerAlignment: Right
#AllowShortIfStatementsOnASingleLine: true
#IndentCaseLabels: true
