[user]
	email = jordan.mandel@live.com
	name = Jordan Mandel
[diff]
	submodule = log
[status]
	submodulesummary = 1
[rebase]
	updateRefs = true
	autosquash = true
[credential]
	helper = gopass
[alias]
	glog = log --graph --all --decorate --oneline --pretty=format:'%C(auto)%h %d %s %cd' --date=short
	pushh = push --all --force-with-lease --force-if-includes
	wip = !git add -u && git commit -m 'wip' && git push
