# -------------------------
# General/System Files
# -------------------------
*.lock
!renv.lock
.RData
.Rhistory
*.log
*.bak
*.db
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
Thumbs.db
Thumbs.db:encryptable
$RECYCLE.BIN/
*.lnk
*.dir-locals.el

# -------------------------
# Development Tools & Editors
# -------------------------
# Vim/Neovim
.*.sw[a-p]
Session.vim
.vim/undodir/*
.vim/.netrwhist
.local/share/nvim
.nvim.shada
.tmux/plugins/*
.vim/pack/minpac
.config/gh/*
.nvim_chris
.nvim_rayx
firenvim
/.repro/data/nvim/lazy/*
/nvim_matchup_reprex/.repro/plugins/*
/.repro/plugins/*
.cfg
.config/google-chrome/*
.config/libreoffice/*
.emacs.*/elpa/*
.config/.repro
.config/nvim/lazy-lock.json
dotfiles
.emacs.default/straight/build/undo-tree/.gitignore
.cache/tags
.xmonad-x86_64-linux
.xmonad.errors
.xmonad.state
.xmonad.hi
.xmonad.o
.tmuxp
.tmux/resurrect
.zcompdump*
.zsh_history
.bash_history
.gitconfig.local
irssi/irssi/config.autosave
ruby/bundle/cache

*.kate-swp

# Emacs
.emacs.d/network-security.data
.emacs.d/.org-id-locations
.emacs.d/ac-comphist.dat
.emacs.d/auto-save-list/
.emacs.d/smex-items
.emacs.d/%backup%~
.emacs.d/bookmarks
.emacs.d/eln-cache
.emacs.d/secret.el
.emacs.d/transient
.emacs.d/projects
.emacs.d/session*
.emacs.d/history
.emacs.d/recentf
.emacs.d/eshell
.emacs.d/games
.emacs.d/tramp
.emacs.d/elpa
.emacs.d/url
.emacs.d/straight/build
.emacs.d/straight/build-cache.el
.emacs.d/straight/modified
.emacs.d/straight/repos


.config/emacs/network-security.data
.config/emacs/.org-id-locations
.config/emacs/ac-comphist.dat
.config/emacs/auto-save-list/
.config/emacs/smex-items
.config/emacs/%backup%~
.config/emacs/bookmarks
.config/emacs/eln-cache
.config/emacs/secret.el
.config/emacs/transient
.config/emacs/projects
.config/emacs/session*
.config/emacs/history
.config/emacs/recentf
.config/emacs/eshell
.config/emacs/games
.config/emacs/tramp
.config/emacs/elpa
.config/emacs/url
.config/emacs/straight/build
.config/emacs/straight/build-cache.el
.config/emacs/straight/modified
.config/emacs/straight/repos



.emacs.default/.last-package-update-day
.emacs.default/straight/
# -------------------------
# Miscellaneous
# -------------------------
.aws/credentials
*.ssh/id_rsa
*.ssh/id_ecdsa
*.ssh/id_ed25519
*.gpg
*.pem
*.cer
*.crt
*.key
*.iso
*.tar.*
*.backup
.private/
.secrets/
.passwords/
.idea/
.vscode/
__pycache__/
node_modules/
*cache*
*.swp
*.swo
RCS
.+,v
CVS
.\#+      # CVS conflict files / emacs lock files
.cvsignore
.svn
_darcs
.hg
.+~       # emacs backup files
\#.*\#    # emacs autosave files
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*
.org-id-locations
*_archive
*_flymake.*
/eshell/history
/eshell/lastdir
/elpa/
*.rel
/auto/
.cask/
dist/
flycheck_*.el
/server/
.projectile
.config/nvim-qt/window-geometry.conf
.config/font-manager/Sources.xml
.emacs.default/elpaca/
.emacs.default/history
.emacs.default/last-directory
.emacs.default/places
tags
.config/fontconfig/conf.d/09-Directories.conf
renv/
.ipython/profile_default/history.sqlite
.ipython/profile_default/startup/
.ff_custom/*
!.ff_custom/user.js
