[user]
	email = jordan.mandel@live.com
	name = Jordan Mandel
[diff]
	submodule = log
[status]
	submodulesummary = 1
[rebase]
	updateRefs = true
	autosquash = true
	reapplyCherryPicks = true
[credential]
	helper = manager-core
