[user]
	email = jordan.mandel@live.com
	name = Jordan Mandel
[diff]
	tool = icdiff
[diff "icdiff"]
	path = /usr/bin/icdiff
	pathm = /usr/bin/icdiff
[difftool "icdiff"]
	path = /usr/bin/icdiff
	cmd = icdiff --highlight --line-numbers $LOCAL $REMOTE
[core]
	#pager = man -P 'nvim -c Man! -c set\\ nonumber -c set\\ norelativenumber --cmd let\\ g:flatten_allow_nesting=v:true'
	pater = nvim
[difftool]
	prompt = false
