.tmux/plugins/*
.config/gh/*
nvim_chris
nvim_rayx
tags
firenvim
/.repro/data/nvim/lazy/*
/nvim_matchup_reprex/.repro/plugins/*
/.repro/plugins/*
.vim/undodir/*
.cfg
.config/google-chrome/*
.config/google-chrome
.config/google-chrome/
.config/libreoffice/*
.config/libreoffice
.vim/pack/minpac/*
.emacs.*/elpa/*
.emacs.*/elpa
.config/.repro
