[submodule ".config/emacs"]
	path = .config/emacs
	url = https://github.com/plexus/chemacs2
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule ".spacemacs"]
	path = .spacemacs
	url = https://github.com/syl20bnr/spacemacs
	branch = develop
[submodule ".doomemacs"]
	path = .doomemacs
	url = https://github.com/doomemacs/doomemacs
[submodule ".vim/pack/minpac/opt/minpac"]
	path = .vim/pack/minpac/opt/minpac
	url = https://github.com/k-takata/minpac
[submodule ".config/tmux/tpm"]
	path = .config/tmux/plugins/tpm/tpm
	url = https://github.com/tmux-plugins/tpm
