[Desktop Entry]
Name=Doom Emacs
Comment=Launch Emacs with the Doom profile
Exec=emacs --with-profile doom
Icon=doom
Type=Application
Categories=Utility;TextEditor;
Terminal=false
